html, body{
    padding: auto;
    margin: auto;
    background-color: #000 !important;
}
.sectionMenuList{
    background-color: #000;
    padding-top: 2%;
    height: 1600px;
}
.menuUl{
    display: flex;
    justify-content: space-around;
}
.menuUl h1{
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
    color: #ffff;
    padding-top: 4%;
    padding-left: 6%;
}
.menuUl ul{
    padding-right: 6%;
}
.menuNav{
    width: 80%;
    display: flex;
    margin-left: 0;
    justify-content: space-around;
    padding-top: 6%;
}
.menuNav a{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #ffff;
}
.menuNav a:hover{
    color: #ffff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}
.menuNav li{
    list-style-type: none;
    width: 100%;
}
.card{
    margin-left: 20%;
}
.ady{
    margin-top: -2.5%;  
    color: #fff; 
    margin-left: 5%;
    font-size: 40px;
}
.som{
    margin-left: 7.5%;
    margin-top: -9.2%;
    color: #fff;
    font-size: 30px;
}
.amount{
    margin-left: -0.4%;
    margin-top: 0.75%;
}
.sectionMenuList .buyButton{
    margin-top: 0.4%;
    margin-left: 10%;
    width: 117px;
    height: 40px;
    border: 1px solid #fff;
    background-color: black;
    color: #fff;
    cursor: pointer;
}
.sectionMenuList .button{
    display: flex;
    justify-content: space-between;
}
.downMoreButton{
    margin-top: -40%;
}
.moreButton{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    top: -20%;
    margin-left: 37%;
    font-size: 20px;
    line-height: 24px;
    width: 380px;
    height: 60px;
    z-index: 100 !important;
    cursor: pointer !important;
}